<div class="card mb-3 rounded-0">
  <div class="card-header"> {{product.category}}</div>
  <img class="card-img-top" src="{{product.imageUrl}}" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">{{product.name}}</h4>
    <p class="card-text">{{product.price | currency:'INR':'true'}}</p>
  </div>
  <div class="card-footer p-0">
    <div *ngIf="getQuantity()!==0 then values else button"></div>
    <ng-template #button>
      <button (click)="addToCart()" class="btn btn-block rounded-0 btn-primary">ADD TO CART</button>
    </ng-template>
    <ng-template #values>
      <div class="row no-gutters p-0 align-items-center">
        <div class="col-2">
          <div><button (click)="removeFromCart()" class="btn btn-secondary btn-block rounded-0">-</button></div>
        </div>
        <div class="col text-center">{{getQuantity()}} in the cart</div>
        <div class="col-2"><button (click)="addToCart()" class="btn btn-secondary btn-block rounded-0">+</button></div>
      </div>
    </ng-template>
  </div>
</div>