<div class="card mb-3 rounded-0">
  <div class="card-header"> {{product.category}}</div>
  <img class="card-img-top" src="{{product.imageUrl}}" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">{{product.name}}</h4>
    <p class="card-text">{{product.price | currency:'INR':'true'}}</p>
  </div>
  <div class="card-footer p-0" *ngIf="shoppingCart">
    <div *ngIf="shoppingCart.getQuantity(product)!==0 then values else button"></div>
    <ng-template #button>
      <button (click)="addToCart()" class="btn btn-block rounded-0 btn-primary">ADD TO CART</button>
    </ng-template>
    <ng-template #values>
      <product-quantity [product]="product" [shoppingCart]="shoppingCart"></product-quantity>
    </ng-template>
  </div>
</div>