<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">ADD NEW</a>
</p>

<div *ngIf="products then loading else show"></div>
<ng-template #show>
<div class="text-primary">Loading...</div>
</ng-template >
<ng-template #loading>
<div class="form-group">
    <input #query (keyup)="filtering(query.value)" type="text" class="form-control">
</div>  
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filteredProducts">
            <td>
                {{product.name}}
            </td>
            <td>
                {{product.price | currency:'INR':"symbol"}}
            </td>
            <td>
                <a [routerLink]="['/admin/products',product.key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>

</ng-template>
